services:
  config-service:
    build: .
    command: uv run --package config-server --with fastapi -- fastapi dev services/config-server/app/main.py --host 0.0.0.0 --port 8000
    volumes:
      - ./services/config-server:/app/services/config-server
    ports:
      - "8003:8000"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8000"]
      interval: 10s
      timeout: 10s
      retries: 3

  gateway-service:
    build: .
    command: uv run --package gateway --with fastapi -- fastapi dev services/gateway/app/main.py --host 0.0.0.0 --port 8000
    depends_on:
      config-service:
        condition: service_healthy
      # weather-data-service:
      # flow-data-service:
    ports:
      - "8000:8000"
    volumes:
      - ./services/gateway:/app/services/gateway

  weather-data-service:
    build: .
    command: uv run --package weather-data --with fastapi -- fastapi dev services/weather-data/app/main.py --host 0.0.0.0 --port 8000
    depends_on:
      config-service:
        condition: service_healthy
    ports:
      - "8001:8000"
    environment:
      - METEO_FRANCE_AROME_API_KEY
    volumes:
      - ./services/weather-data:/app/services/weather-data
      - ./models/comephores/data:/app/services/weather-data/comephores

  flow-data-service:
    build: .
    command: uv run --package flow-data --with fastapi -- fastapi dev services/flow-data/app/main.py --host 0.0.0.0 --port 8000
    depends_on:
      config-service:
        condition: service_healthy
    ports:
      - "8002:8000"
    volumes:
      - ./services/flow-data:/app/services/flow-data

  flow-prediction-service:
    build: .
    command: uv run --package flow-prediction --with fastapi -- fastapi dev services/flow-prediction/app/main.py --host 0.0.0.0 --port 8000
    depends_on:
      config-service:
        condition: service_healthy
    ports:
      - "8004:8000"
    volumes:
      - ./services/flow-prediction:/app/services/flow-prediction
      - ./models/watershed/data:/app/services/flow-prediction/watershed
