# Deployment Gateway
apiVersion: apps/v1
kind: Deployment
metadata:
  name: config-service
spec:
  selector:
    matchLabels:
      app: config-service
  replicas: 1
  template:
    metadata:
      labels:
        app: config-service
    spec:
      containers:
      - name: config-server-container
        image: 172.0.0.39:5000/floodcast-uv-image:latest
        imagePullPolicy: Always
        env:
        - name: SERVICE_NAME
          value: "config-server"
        ports:
        - containerPort: 8000
